.section1 {
  margin-top:0;
  /* background: -webkit-linear-gradient(rgb(255, 251, 211), rgb(255, 248, 171));    background-color: rgb(255, 251, 204);*/
  background-color: rgb(37, 38, 38);
  height: 100px;
  margin: 0;
  padding: 0;
  width: 1550px;
  border-bottom: 1px solid #0000002a;
  position: fixed;
  z-index: 100;
}

/* ส่วนในมือถือ */
@media (max-width: 768px) {
.mobile-only {
  display: block;
}

.desktop-only {
  display: none;
}

  .Tag-moblie{
    height: 80px;
    margin-left: 50px;
    margin-top: 65px;
    z-index: 1;
    float:left;
  }

  .topbar {
    background-color: #222;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-icon {
    font-size: 28px;
    cursor: pointer;
    display: none;
    position: fixed;
    margin-left: -170px;
    margin-top: -25px;
    color: white;
  }

  .side-menu {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #333;
    color: white;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
  }

  .side-menu a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
  }

  .side-menu a:hover {
    background-color: #444;
  }
  

}